.header{
    width:100%;
    height: 100px;
    position: fixed;
    left:0;
    top:0;
    background: #2c6590;
}

.headerList {
    display: inline-block;
    li {
        display: inline-block;
    }
}

.seach {
    display: inline-block;
    width: 280px;
    height: 38px;
    input {
        font-size: 14px;
        color: #ddd;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0 5px;
    }
}
